*{
    padding: 0%;
    margin: 0%;
}

header {
    background-color: rgb(245, 245, 32);
}
        
.banner {
    background-image: url('img/burguer.jpeg'); 
    background-size: cover; 
    background-position: center; 
    height: 400px; 
    position: relative;
    color: #fff;
}

.t {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    font-size: 24px; 
    text-align: center; 
}